<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Lighting A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
<link href="~/assets/OShopCSS/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme style-->
<link href="~/assets/OShopCSS/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<script src="~/assets/OShopCSS/js/jquery.min.js"></script>

<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="~/assets/OShopCSS/js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="~/assets/OShopCSS/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/assets/OShopCSS/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!-- /start menu -->
</head>
<body> 
<!--header-->	
<script src="~/assets/OShopCSS/js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: false,
      });
    });
  </script>
  
<div class="header-top">
	 <div class="header-bottom">			
				<div class="logo">
					<h1><a href="~/assets/OShopCSS/index.html">Lighting</a></h1>					
				</div>
			 <!---->
			@await Html.PartialAsync("MainMenu")
			 <!---->
			 <div class="cart box_1">
				 <a href="~/assets/OShopCSS/checkout.html">
					<div class="total">
					<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</a>
				<p><a href="~/assets/OShopCSS/javascript:;" class="simpleCart_empty">Empty Cart</a></p>
			 	<div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
			 <!---->			 
			 </div>
			<div class="clearfix"> </div>
</div>
<!---->	
@RenderBody()
<!---->
<div class="subscribe">
	 <div class="container">
		 <h3>Newsletter</h3>
		 <form>
			 <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
			 <input type="submit" value="Subscribe">
		 </form>
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 about-us">
				 <h3>About Us</h3>
				 <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Information</h3>
					<ul class="nav-bottom">
						<li><a href="~/assets/OShopCSS/#">Track Order</a></li>
						<li><a href="~/assets/OShopCSS/#">New Products</a></li>
						<li><a href="~/assets/OShopCSS/#">Location</a></li>
						<li><a href="~/assets/OShopCSS/#">Our Stores</a></li>
						<li><a href="~/assets/OShopCSS/#">Best Sellers</a></li>	
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>More Info</h3>
					<ul class="nav-bottom">
						<li><a href="~/assets/OShopCSS/login.html">Login</a></li>
						<li><a href="~/assets/OShopCSS/#">FAQ</a></li>
						<li><a href="~/assets/OShopCSS/contact.html">Contact</a></li>
						<li><a href="~/assets/OShopCSS/#">Shipping</a></li>
						<li><a href="~/assets/OShopCSS/#">Membership</a></li>	
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Categories</h3>
					<ul class="nav-bottom">
						<li><a href="~/assets/OShopCSS/#">Car Lights</a></li>
						<li><a href="~/assets/OShopCSS/#">LED Lights</a></li>
						<li><a href="~/assets/OShopCSS/#">Decorates</a></li>
						<li><a href="~/assets/OShopCSS/#">Wall Lights</a></li>
						<li><a href="~/assets/OShopCSS/#">Protectors</a></li>	
					</ul>					
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2015 Lighting. All Rights Reserved | Design by  <a href="~/assets/OShopCSS/http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		 </div>
		 <div class="social">							
				<a href="~/assets/OShopCSS/#"><i class="facebook"></i></a>
				<a href="~/assets/OShopCSS/#"><i class="twitter"></i></a>
				<a href="~/assets/OShopCSS/#"><i class="dribble"></i></a>	
				<a href="~/assets/OShopCSS/#"><i class="google"></i></a>	
				<a href="~/assets/OShopCSS/#"><i class="youtube"></i></a>	
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
</body>
</html>
