@model List<Model.EF.Menu>

<div class="top-nav">
	@foreach (var item in Model)
    {
       
	<ul class="memenu skyblue">
		<li ><a href="@item.Link" target="@item.Target">@item.Text</a></li>
	</ul>
	}
</div>