<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-bg">

        <div class="brand-logo">
            <a class="navbar-brand" href="index.html" id="menu-action">
                <div class="user-photo d-desktop"><img src="../../Assets/Admin/images/icons/favicon.png" alt=""></div>
                <span>Benzi Admin Panel</span>
            </a>
            <div id="nav-toggle">
                <div class="cta">
                    <div class="toggle-btn type1"></div>
                </div>
            </div>
        </div>
        <!--   For Toggle Mobile Nav icon -->
        <div class="for-mobile d-mobile">
            <div class="toggle-button" id="toggle-button">
                <span class="material-icons">
                    menu
                </span>
            </div>

        </div>
        <!--   For Toggle Mobile Nav Icon -->

        <div class="collapse navbar-collapse pr-3" id="#">

            <ul class="navbar-nav user-info ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown show">
                    <a href="#" class="navbar-nav-link dropdown-toggle text-light" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-photo"><img src="https://dw3i9sxi97owk.cloudfront.net/uploads/thumbs/db9c4e1327eb8fe5e9395a4b04e1ea4a_70x70.jpg" alt=""></div>
                        admin@admin.com
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="account.html" class="dropdown-item">
                            <i class="material-icons">
                                supervisor_account
                            </i>
                            Account Settings
                        </a>
                        <div class="menu-dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html"><i class="material-icons">exit_to_app</i>Logout</a>
                    </div>
                </li>
            </ul>

        </div>


    </nav>

</div>